---
title: Pricing
heading: Start free, then upgrade if you need
description: Librarian is freeware, the first 100 documents you create are free. After that you need to purchase the Premium plan.
pricing_table:
  - name: Free
    color: "#8e8e8e"
    features:
      - text: Free with no time limit
        highlight: true
      - text: Create Up to 100 documents 
        highlight: false
      - text: Unlimited tags
        highlight: false
      - text: Basic support
        highlight: false
      - text: Basic export
        highlight: false
    call_to_action:
      link: '/'
      text: Download now
  - name: Premium
    color: "#4a4a4a"
    features:
      - text: $40 one time purchase
        highlight: true
      - text: Everything in Free
        highlight: false
      - text: No document search limit
        highlight: false
      - text: Advanced support
        highlight: false
      - text: Unlimited export
        highlight: false
    call_to_action:
      link: '/'
      text: Download now, upgrade later
  - name: Enterprise
    color: "#020079"
    features:
      - text: Custom invoicing
        highlight: true
      - text: Custom authentication models
        highlight: false
      - text: Everything in Premium
        highlight: false
      - text: Document sharing between users
        highlight: false
      - text: Create and manage teams
        highlight: false
    call_to_action:
      link: mailto:akifheren@gmail.com
      text: Send us an email
faq:
  - question: What types of payment do you accept?
    answer: We accept MasterCard, Visa or American Express. Payments are run through Stripe and completely secure.
  - question: What if I change my mind?
    answer: Not a problem, simply request a refund through support within 30 days to get a full refund. 
  - question: Can I share my product key?
    answer: Yes, sharing a single key on a few computers is OK. But if we detect that you are abusing our system, we will block the key.
  - question: Do you offer pricing for nonprofit organizations?
    answer: Yes! We love supporting good causes. Please send us a message and we'll set you up with our nonprofit pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="mailto:akifheren@gmail.com">akifheren@gmail.com</a> or call our CA office at (760) 364-6209‬.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta">
          <div class="button">
            <a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
